[submodule ".registry"]
	path = .registry
	url = https://github.com/aaronpeikert/aaronpeikert.r-universe.dev
	branch = HEAD
[submodule "repro"]
	path = repro
	url = https://github.com/aaronpeikert/repro
