[submodule ".registry"]
	path = .registry
	url = https://github.com/aaronpeikert/universe
	shallow = true
	branch = HEAD
[submodule "repro"]
	path = repro
	url = https://github.com/aaronpeikert/repro
	shallow = true
	registered = true
